!!! 5
%html
  %head
    %title Boardwalk
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    %meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    %meta(charset='utf-8')

    = csrf_meta_tags

    = favicon_link_tag(image_path('favicon.png'))
  %body
    .container
      .wrapper
        = render partial: 'shared/header'
        .content
          = yield
    = render partial: 'shared/footer'